*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.navbar{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: navy;
    color: white;
}
.main-container{
    width: 100%;
    height: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}
.setVisiblity{
    display: none;
}
/* .main-form{
    /* display: flex; */
/* } */ */
h3{
    font-size:1.5rem;
}
form{
    width: 50%;
    height: 100%;
    /* background-color: orange; */
    /* text-align: justify; */
    padding: 1.5rem;
}
.btn-container{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submission-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* float: right; */
}
.btn{
    padding: 0.5rem;
    background-color: blue;
    color: white;
    border-radius: 0.25rem;
    border: none;
    font-size: large;
    margin-right: 2rem;
}
.btns{
    padding:0.5rem 2rem 0.5rem 2rem;
    background-color: blue;
    color: white;
    border-radius: 0.25rem;
    border: none;
    font-size: large;
}
.btns:hover{
    background-color: navy;
}
.name-container,.mail-container,.phone-container,.adress-container,.birth-container,.gender-container
{
    width: 100%;
    height: 6rem;
    margin: 1rem 0rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color:aquamarine; */
}
.gender{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* float: left; */
}
.form-check{
    margin-right: 2rem;
}
.birth-container{
    justify-content: space-between;
}
.date,.month,.year{
    width: 32%;
    height: 2rem;
    margin-right: 0.5rem;
}
.glow:hover{
    filter:drop-shadow(0.2rem 0.2rem 10px lightskyblue); 
    border: 2px solid lightskyblue;
}
.glow-two{
    border: 2px solid red;
    filter:drop-shadow(0.2rem 0.2rem 10px red); 
    
}
.year{
    width: 31%;
    height: 1.85rem;
}
.Date,.Month,.Year{
    width: 100%;
    height: 100%;
    font-size:large;
    margin-bottom: 0.25rem;
    border:none;
    border-radius:0.25rem;
    border:2px solid rgba(0, 0, 0, 0.5);
}
.firstName,.lastName{
    width: 50%;
    height: 80%;
}
.name-heading,.mail-heading,.phone-heading,.adress-heading{
    width: 100%;
    height:2rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.nameField{
    height: 2rem;
    width: 90%;
    font-size:large;
    margin-bottom: 0.25rem;
    border:none;
    border-radius:0.25rem;
    border:2px solid rgba(0, 0, 0, 0.5);
}
.nameField:hover{
   filter:drop-shadow(0.2rem 0.2rem 10px lightskyblue); 
   border: 2px solid lightskyblue;
}
.formHelpLineText{
    font-size: smaller;
    opacity: 0.5;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.mail-container,.phone-container{
    height: 5rem;
}
.mail-heading,.phone-heading,.adress-heading{
    margin-bottom: 0;
}
.mail-input{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-start;
}
.mail-box{
    width: 50%;
    height: 100%;
    font-size:large;
    margin-bottom: 0.5rem;
    border:none;
    border-radius:0.25rem;
    border:2px solid rgba(0, 0, 0, 0.5);
}
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
/* address - formSection */
.adress-container{
    height: 25rem;
}
.street-container{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.street-one,.street-two{
    width: 100%;
    height: 50%;
    margin-bottom: 0.5rem;
}
.addStreet{
    width: 97%;
    height: 2rem;
    margin-bottom: 0.25rem;
    border:none;
    border-radius:0.25rem;
    border:2px solid rgba(0, 0, 0, 0.5);
    font-size:large;
}
.state-city{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.city-container,.state-container{
    width: 50%;
    height: 3rem;
    margin-left:0 ;
}
.addState,.addCity{
    width: 95%;
    height: 2rem;
    margin-bottom: 0.25rem;
    border:none;
    font-size:large;
    border-radius:0.25rem;
    border:2px solid rgba(0, 0, 0, 0.5);
} 
.zip-container{
    width: 100%;
    height: 2rem;
}
.addZip{
    width: 97%;
    height: 100%;
    font-size:large;
    border-radius:0.25rem;
    border:2px solid rgba(0, 0, 0, 0.5);
}
