*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: blueviolet;
}
.main-container{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 20rem;
    
}
img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    /* margin: 2rem; */
}
.box{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin: 2rem;
    object-fit: cover;
}
.score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    margin: 1rem;
}
.user, .comp{
    font-size: larger;
     margin: 1rem;
}