*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-size: 4rem;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.display{
    width: 20rem;
    height: 20rem;
    font-size:10rem;
    text-align: center;
}
.buttton-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btns{
    padding: 0.5rem;
    margin: 1rem auto;
    border: none;
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: 600;
    border-radius: 4px;
}